.calc-modal {
    display: none;
    width: 400px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 35%;
    border: 5px solid #245edb;
    border-radius: 5px;
    &__header {
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, #245edb 0%, #0c8dea 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-text {
            margin-left: 10px;
        }
        .header-buttons {
            margin: 3px;
            button {
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                font-size: 20px;
                padding: 0 15px;
                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
    }
    &__content {
        width: 100%;
        height: 450px;
        background: white;
    }
}

.media-modal {
    display: none;
    width: 400px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 35%;
    border: 5px solid #245edb;
    border-radius: 5px;
    &__header {
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, #245edb 0%, #0c8dea 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-text {
            margin-left: 10px;
        }
        .header-buttons {
            margin: 3px;
            button {
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                font-size: 20px;
                padding: 0 15px;
                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
    }
    &__content {
        width: 100%;
        height: 450px;
        background: white;
    }
}

.gallery-modal {
    display: none;
    width: 400px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 35%;
    border: 5px solid #245edb;
    border-radius: 5px;
    &__header {
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, #245edb 0%, #0c8dea 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-text {
            margin-left: 10px;
        }
        .header-buttons {
            margin: 3px;
            button {
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                font-size: 20px;
                padding: 0 15px;
                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
    }
    &__content {
        width: 100%;
        height: 450px;
        background: white;
    }
}