@import './taskbar';
@import './desktop-icons';

* {
    box-sizing: border-box;
}


body {
    background: url(../assets/imgs/windows.jpg) top right no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}